{% extends 'base.html.twig' %}

{% block title %}My GamoTeck{% endblock %}

{% block body %}
<main class="content">
    <div class="content-title">
        <h2 class="games-list-title">Liste des jeux :</h2>
    </div>
    <div class="games-list">
        <table class="table table-bordered mt-3">
            <tbody class="mb-2">

                {% for game in games %}
                    
                <tr>
                    <th class=" text-center align-middle">
                        <img src="{{ asset('images/game')}}/{{game.image}}   " alt="" class="picture">
                    </th>
                    <th class="">
                        <h3 class="game-title ">
                            <a href=" {{ path('game_show', {'id' : game.id}) }}" class="game-title">{{ game.title }}</a>
                        </h3>
                        <p class="description mt-3">
                            {{ game.description }}
                        </p>
                    </th>
                    <th class=" text-center support">
                        <ul class="device">
                            <li class="game-device"></li>
                            <li class="game-device"></li>
                            <li class="game-device"></li>
                        </ul>
                    </th>
                    <th class="text-center rate">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </th>
                </tr>
                {% endfor %}

            </tbody>

        </table>

    </div>
{% endblock %}
