{% extends "base.html.twig" %}


{% block title %} {{category.name}} {% endblock %}

{% block body %}
<div class="container">
    
    <div class="jumbotron mt-2">
        
        <h2 class="game-title text-center category-title mb-2" > {{ category.name }} </h2>
        <p class="lead text-center"> {{ category.description }} </p>
        <hr class="my-4">
        <h4 class="game-title" > Jeux de la categorie present en bibliotheque </h4>

        <ul class="list-group">
            {% for game in category.games %}
            <li class="list-group-item mt-2"><a href=" {{ path('game_show' , {'id' : game.id}) }} ">{{ game.title }}</a></li>
                
            {% endfor %}
           
          </ul>

        </div>
        <a class="mt-5" href=" {{ path('category') }} ">Retour a la liste des catégories</a>


</div>
 {# <li class="list-group-item">{{category.description}}</li>
        <li class="list-group-item">
            {% for game in category.games %}
                <a href=" ">{{ game.title }}</a>
            {% endfor %} </li> #}

{% endblock %}