{% extends 'base.html.twig' %}

{% block title %}{{game.title}}{% endblock %}

{% block body %}

<div class="container">

    

    <div class="media mt-5 border p-2 ">
        <img src="{{ asset('images/game')}}/{{game.image}} " class="mr-3 picture-show" alt="...">
        <a href=" {{ path('game_edit', {'slug' : game.slug }) }} "> <img src="{{ asset('images')}}/edit.svg" alt="" class="edit-logo" ></a>
        <div class="media-body">
            <h2 class="mt-5  machine game-title">{{ game.title }}</h2>

            <p class="mt-2">
                {{ game.description }}
            </p>
        </div>
    </div>
    
    
    {# <h3 class="game-title mt-4 mb-2 ">Support :</h3> #}
    <div class="infos row justify-content-around">
        <ul class="list-group col-5 "><span class="game-title mt-4 mb-2" >Support(s)</span>
        {% for support in game.supports %}
        <li class="list-group-item "> {{ support.name }} </li>
        {% else %}
                <li class=" alert alert-warning "> Aucun support n'est renseigné sur ce jeux</li>
        {% endfor %}
        </ul>
        <ul class="list-group col-5 "><span class="game-title mt-4 mb-2" >Categorie(s)</span>
            {% for category in game.categories %}
                <li class="list-group-item "> {{ category.name }} </li>
            {% else %}
                <li class=" alert alert-warning"> Aucune catégorie n'est renseignée sur ce jeux</li>
            {% endfor %}
        </ul>

    </div>

</div>
{% endblock %}
