
<h5>De la part de :</h5>
{{ datas.lastname }} {{ datas.firstname }}


<h5> Message : </h5>
{{ datas.message }}

<h5>Mail de la personne</h5>
{{ datas.email }}

<h5>Accord de la personne :</h5>
<small> (1 correspond a une personne ayant cocher la case qui accepte d'être contacter) =====> </small>
{{ datas.terms }}


<p>Ce mail est envoyé par le site Gamoteck, ne pas y repondre!</p>

<p>bonne journée</p>